@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Stardew';
  src: url('/fonts/StardewValley.ttf') format('truetype');
  font-display: swap;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}